button {
  font-family: New Hero, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 0;
  min-width: 120px;
  outline: none;
  border: 1px solid #333333;
  cursor: pointer;
  margin: 0 0 20px;
}

button.primary {
  background-color: #c3e6e2;
  box-shadow: 4px 4px #469a97;
  width: 100%;
}

button.secondary {
  background-color: lightpink;
  box-shadow: 4px 4px hotpink;
  margin: 0 2px 0 0;
}

button.primary:hover {
  transform: translateY(4px) translate(4px);
  box-shadow: 2px 2px #469a97;
}

button.secondary:hover {
  transform: translateY(4px) translate(4px);
  box-shadow: 2px 2px hotpink;
}
