.App {
  margin-top: 100px;
  display: flex;
  height: 100vh;
}

.content {
  margin: 0 auto;
  display: flex;
  max-width: 1100px;
  column-gap: 30px;
}

.grid-container,
.action-container {
  width: 50%;
}

@media screen and (max-width: 990px) {
  .App {
    margin: 0;
    padding: 20px;
  }

  .grid-container,
  .action-container {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .content {
    max-width: 100%;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #a0c5c4;
  background: #fdf9f0;
  box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .cell {
    width: 80px;
    height: 70px;
  }
}

.robot {
  position: relative;
}

.robot:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='60px' height='60px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:0.755' fill='%2308090a' d='M 26.5,-0.5 C 29.8333,-0.5 33.1667,-0.5 36.5,-0.5C 50.2832,2.6149 59.2832,10.9482 63.5,24.5C 63.5,27.8333 63.5,31.1667 63.5,34.5C 62.1667,34.5 60.8333,34.5 59.5,34.5C 59.2494,38.2488 58.5828,41.9155 57.5,45.5C 56.6618,45.8417 56.3284,46.5084 56.5,47.5C 55.8333,47.5 55.5,47.8333 55.5,48.5C 54.6618,48.8417 54.3284,49.5084 54.5,50.5C 53.8333,50.5 53.5,50.8333 53.5,51.5C 52.8333,51.5 52.5,51.8333 52.5,52.5C 51.8333,52.5 51.5,52.8333 51.5,53.5C 50.8333,53.5 50.5,53.8333 50.5,54.5C 49.8333,54.5 49.5,54.8333 49.5,55.5C 48.8333,55.5 48.5,55.8333 48.5,56.5C 47.5084,56.3284 46.8417,56.6618 46.5,57.5C 41.8844,59.5295 37.0511,60.8629 32,61.5C 26.5919,60.9867 21.4252,59.6533 16.5,57.5C 16.1583,56.6618 15.4916,56.3284 14.5,56.5C 14.5,55.8333 14.1667,55.5 13.5,55.5C 13.5,54.8333 13.1667,54.5 12.5,54.5C 12.5,53.8333 12.1667,53.5 11.5,53.5C 11.5,52.8333 11.1667,52.5 10.5,52.5C 10.5,51.8333 10.1667,51.5 9.5,51.5C 9.5,50.8333 9.16667,50.5 8.5,50.5C 8.67158,49.5084 8.33825,48.8417 7.5,48.5C 7.5,47.8333 7.16667,47.5 6.5,47.5C 6.67158,46.5084 6.33825,45.8417 5.5,45.5C 4.41723,41.9155 3.75056,38.2488 3.5,34.5C 2.16667,34.5 0.833333,34.5 -0.5,34.5C -0.5,31.1667 -0.5,27.8333 -0.5,24.5C 3.70825,10.9573 12.7083,2.62399 26.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23c5cdd1' d='M 49.5,8.5 C 50.5,10.5 51.5,12.5 52.5,14.5C 36.2124,1.29314 21.3791,2.62648 8,18.5C 6.87201,20.3453 6.37201,22.3453 6.5,24.5C 8.19919,24.6602 9.86586,24.4935 11.5,24C 24.7891,7.34195 38.1225,7.34195 51.5,24C 52.7932,24.49 54.1266,24.6567 55.5,24.5C 57.3435,26.2789 58.0102,28.6122 57.5,31.5C 56.1667,31.5 54.8333,31.5 53.5,31.5C 53.3219,42.8847 47.9886,50.5513 37.5,54.5C 35.1421,51.7636 32.1421,50.9302 28.5,52C 26.2689,53.2773 24.6022,55.1106 23.5,57.5C 12.5288,52.5044 6.19545,44.1711 4.5,32.5C 2.85159,30.5441 2.18493,28.2108 2.5,25.5C 8.19932,8.14092 20.1993,0.640918 38.5,3C 42.4723,4.31945 46.1389,6.15278 49.5,8.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%230e1516' d='M 52.5,14.5 C 53.6882,17.0413 55.0216,19.5413 56.5,22C 56.2568,22.9021 55.9234,23.7354 55.5,24.5C 54.1266,24.6567 52.7932,24.49 51.5,24C 38.1225,7.34195 24.7891,7.34195 11.5,24C 9.86586,24.4935 8.19919,24.6602 6.5,24.5C 6.37201,22.3453 6.87201,20.3453 8,18.5C 21.3791,2.62648 36.2124,1.29314 52.5,14.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%2300a9be' d='M 25.5,7.5 C 38.1858,6.50944 47.8524,11.3428 54.5,22C 53.365,22.7494 52.365,22.5827 51.5,21.5C 46.9403,13.7975 40.107,9.79748 31,9.5C 21.9349,10.739 14.7683,15.0723 9.5,22.5C 9.59789,19.1792 11.2646,16.3459 14.5,14C 18.0612,11.5472 21.7279,9.38058 25.5,7.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23717678' d='M 2.5,25.5 C 2.18493,28.2108 2.85159,30.5441 4.5,32.5C 3.5,32.5 2.5,32.5 1.5,32.5C 1.19845,29.9407 1.53178,27.6074 2.5,25.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23607a87' d='M 49.5,8.5 C 57.2025,14.5715 61.2025,22.5715 61.5,32.5C 59.8561,32.2865 58.3561,32.6198 57,33.5C 56.2986,45.2341 50.4653,53.2341 39.5,57.5C 38.5748,56.6431 37.9081,55.6431 37.5,54.5C 47.9886,50.5513 53.3219,42.8847 53.5,31.5C 54.8333,31.5 56.1667,31.5 57.5,31.5C 58.0102,28.6122 57.3435,26.2789 55.5,24.5C 55.9234,23.7354 56.2568,22.9021 56.5,22C 55.0216,19.5413 53.6882,17.0413 52.5,14.5C 51.5,12.5 50.5,10.5 49.5,8.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23101317' d='M 25.5,17.5 C 41.6768,16.5014 48.5102,23.8348 46,39.5C 41.5301,47.5566 34.6968,50.3899 25.5,48C 16.1409,42.4061 13.6409,34.5728 18,24.5C 20.3959,21.9334 22.8959,19.6 25.5,17.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%231462b8' d='M 36.5,20.5 C 48.1436,28.3347 48.477,36.6681 37.5,45.5C 39.8453,41.6372 41.512,37.4705 42.5,33C 42.3333,31.8333 42.1667,30.6667 42,29.5C 40.3112,26.3333 38.4779,23.3333 36.5,20.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23208fe9' d='M 36.5,20.5 C 38.4779,23.3333 40.3112,26.3333 42,29.5C 42.1667,30.6667 42.3333,31.8333 42.5,33C 41.512,37.4705 39.8453,41.6372 37.5,45.5C 25.8334,48.6746 19.1668,44.3412 17.5,32.5C 19.7829,21.8588 26.1163,17.8588 36.5,20.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%230b131c' d='M 28.5,25.5 C 38.1096,25.9359 40.7762,30.4359 36.5,39C 27.3188,42.3249 23.4855,39.1582 25,29.5C 26.3756,28.2949 27.5423,26.9616 28.5,25.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%231f89df' d='M 30.5,27.5 C 36.04,28.3694 37.7066,31.3694 35.5,36.5C 29.0466,39.8491 26.2132,37.8491 27,30.5C 28.1451,29.3636 29.3117,28.3636 30.5,27.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23000001' d='M 30.5,30.5 C 31.6491,30.7911 32.3158,31.6244 32.5,33C 32.1667,33.8333 31.8333,34.6667 31.5,35.5C 30.5481,33.9547 30.2148,32.288 30.5,30.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:0.595' fill='%23000000' d='M 5.5,45.5 C 5.32842,46.4916 5.66175,47.1583 6.5,47.5C 7.16667,47.5 7.5,47.8333 7.5,48.5C 7.32842,49.4916 7.66175,50.1583 8.5,50.5C 9.16667,50.5 9.5,50.8333 9.5,51.5C 10.1667,51.5 10.5,51.8333 10.5,52.5C 11.1667,52.5 11.5,52.8333 11.5,53.5C 12.1667,53.5 12.5,53.8333 12.5,54.5C 13.1667,54.5 13.5,54.8333 13.5,55.5C 14.1667,55.5 14.5,55.8333 14.5,56.5C 14.8417,57.3382 15.5084,57.6716 16.5,57.5C 16.762,58.9778 16.4287,60.3112 15.5,61.5C 11.7757,58.5238 10.7757,59.1905 12.5,63.5C 11.5,63.5 10.5,63.5 9.5,63.5C 5.76017,59.7672 2.42684,55.7672 -0.5,51.5C -0.5,50.5 -0.5,49.5 -0.5,48.5C 0.5,48.5 1.5,48.5 2.5,48.5C 2.5,47.5 2.5,46.5 2.5,45.5C 3.5,45.5 4.5,45.5 5.5,45.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:0.592' fill='%23000000' d='M 57.5,45.5 C 58.5,45.5 59.5,45.5 60.5,45.5C 60.5,46.5 60.5,47.5 60.5,48.5C 59.6618,48.8417 59.3284,49.5084 59.5,50.5C 58.8333,50.5 58.5,50.8333 58.5,51.5C 57.6618,51.8417 57.3284,52.5084 57.5,53.5C 56.8333,53.5 56.5,53.8333 56.5,54.5C 55.8333,54.5 55.5,54.8333 55.5,55.5C 54.8333,55.5 54.5,55.8333 54.5,56.5C 53.8333,56.5 53.5,56.8333 53.5,57.5C 52.8333,57.5 52.5,57.8333 52.5,58.5C 51.8333,58.5 51.5,58.8333 51.5,59.5C 49.9557,59.7031 48.6223,60.3698 47.5,61.5C 46.5713,60.3112 46.238,58.9778 46.5,57.5C 47.4916,57.6716 48.1583,57.3382 48.5,56.5C 49.1667,56.5 49.5,56.1667 49.5,55.5C 50.1667,55.5 50.5,55.1667 50.5,54.5C 51.1667,54.5 51.5,54.1667 51.5,53.5C 52.1667,53.5 52.5,53.1667 52.5,52.5C 53.1667,52.5 53.5,52.1667 53.5,51.5C 54.1667,51.5 54.5,51.1667 54.5,50.5C 55.3382,50.1583 55.6716,49.4916 55.5,48.5C 56.1667,48.5 56.5,48.1667 56.5,47.5C 57.3382,47.1583 57.6716,46.4916 57.5,45.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:0.596' fill='%23000000' d='M 60.5,48.5 C 61.5,48.5 62.5,48.5 63.5,48.5C 63.5,49.5 63.5,50.5 63.5,51.5C 60.5732,55.7672 57.2398,59.7672 53.5,63.5C 52.5,63.5 51.5,63.5 50.5,63.5C 50.4326,62.0413 50.7659,60.7079 51.5,59.5C 52.1667,59.5 52.5,59.1667 52.5,58.5C 53.1667,58.5 53.5,58.1667 53.5,57.5C 54.1667,57.5 54.5,57.1667 54.5,56.5C 55.1667,56.5 55.5,56.1667 55.5,55.5C 56.1667,55.5 56.5,55.1667 56.5,54.5C 57.1667,54.5 57.5,54.1667 57.5,53.5C 58.3382,53.1583 58.6716,52.4916 58.5,51.5C 59.1667,51.5 59.5,51.1667 59.5,50.5C 60.3382,50.1583 60.6716,49.4916 60.5,48.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%2300a5ba' d='M 28.5,53.5 C 30.9892,53.2978 33.3225,53.7978 35.5,55C 36.3366,56.0113 36.67,57.1779 36.5,58.5C 35.1667,58.5 33.8333,58.5 32.5,58.5C 31.8333,54.5 31.1667,54.5 30.5,58.5C 29.1667,58.5 27.8333,58.5 26.5,58.5C 26.3915,56.4862 27.0582,54.8195 28.5,53.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat center;
}

.action-container {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
}

.action-container .row {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 15px;
}

@media screen and (max-width: 414px) {
  .action-container {
    flex-direction: column-reverse;
  }

  .action-container .row {
    flex-direction: column;
  }

  .actions .row {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
  }

  .actions .row button {
    flex: 50%;
  }

  p {
    display: none;
  }
}

.actions {
  margin: 0 0 20px;
}

label {
  font-weight: bold;
}

input {
  font-family: New Hero, sans-serif;
  padding: 6px;
  outline: 1px solid #59646d;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0 0;
}

select {
  padding: 6px;
  outline: 1px solid #59646d;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  width: 150px;
  margin: 5px 0 0;
}

@media screen and (max-width: 414px) {
  label {
    margin: 0 0 10px;
  }

  input,
  select {
    margin: 0 0 0 15px;
  }
}

.output {
  /* position: fixed;
  bottom: 10px;
  right: 10px; */
  background: #c3e6e2;
  padding: 10px;
  color: black;
}
