.App {
  margin-top: 100px;
  display: flex;
  height: 100vh;
}

.content {
  margin: 0 auto;
  display: flex;
  max-width: 1100px;
  column-gap: 30px;
}

.grid-container,
.action-container {
  width: 50%;
}

@media screen and (max-width: 990px) {
  .App {
    margin: 0;
    padding: 20px;
  }

  .grid-container,
  .action-container {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .content {
    max-width: 100%;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .cell {
    width: 80px;
    height: 70px;
  }
}

.robot {
  position: relative;
}

.robot:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='60px' height='60px' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M230 621 c-124 -40 -209 -141 -225 -266 -7 -48 -6 -52 19 -63 17 -7%0A26 -20 26 -34 0 -13 11 -45 24 -73 99 -209 393 -209 492 0 13 28 24 60 24 73%0A0 14 9 27 25 34 29 13 31 31 11 103 -24 92 -81 161 -170 207 -45 23 -179 35%0A-226 19z m185 -27 c31 -11 64 -33 92 -62 57 -60 55 -75 -3 -24 -77 69 -180 89%0A-276 56 -104 -35 -209 -175 -130 -174 20 1 34 11 55 41 76 110 267 106 340 -6%0A16 -26 29 -35 50 -35 15 0 27 6 28 13 1 6 5 -4 10 -23 10 -41 5 -60 -15 -60%0A-9 0 -18 -12 -22 -27 -20 -93 -59 -156 -118 -192 l-35 -22 -20 20 c-12 12 -34%0A21 -51 21 -29 0 -70 -29 -70 -50 0 -6 -15 -4 -37 5 -55 22 -117 94 -133 152%0A-6 26 -14 56 -17 65 -2 9 -12 20 -23 23 -24 8 -18 59 17 132 60 128 220 193%0A358 147z m3 -62 c39 -14 140 -107 128 -119 -2 -2 -28 20 -57 49 -56 55 -105%0A78 -169 78 -64 0 -113 -23 -169 -78 -65 -64 -80 -62 -20 3 83 90 169 110 287%0A67z m-64 -451 c16 -17 16 -19 -4 -24 -13 -3 -20 0 -20 9 0 8 -4 14 -10 14 -5%0A0 -10 -6 -10 -14 0 -9 -7 -12 -20 -9 -20 5 -20 7 -4 24 22 24 46 24 68 0z'/%3E%3Cpath d='M260 453 c-23 -8 -70 -55 -86 -85 -32 -61 1 -166 64 -201 44 -26 119%0A-26 163 -1 48 27 82 96 76 153 -9 80 -77 142 -156 140 -25 0 -53 -3 -61 -6z%0Am104 -34 c74 -59 74 -169 0 -228 -94 -74 -221 72 -157 180 17 29 83 69 114 69%0A9 0 28 -9 43 -21z'/%3E%3Cpath d='M271 363 c-56 -47 -24 -133 49 -133 71 0 104 76 55 125 -29 30 -74%0A33 -104 8z m84 -33 c27 -30 7 -70 -35 -70 -42 0 -62 40 -35 70 10 11 26 20 35%0A20 9 0 25 -9 35 -20z'/%3E%3Cpath d='M304 326 c-8 -21 -1 -49 14 -54 8 -2 12 8 12 32 0 36 -16 49 -26 22z'/%3E%3Cpath d='M47 139 c31 -52 123 -130 123 -103 0 3 -22 26 -49 50 -28 25 -53 54%0A-56 64 -4 11 -13 20 -21 20 -13 0 -12 -5 3 -31z'/%3E%3Cpath d='M575 150 c-3 -10 -28 -39 -56 -64 -27 -24 -49 -47 -49 -50 0 -27 92%0A51 123 103 15 26 16 31 3 31 -8 0 -17 -9 -21 -20z'/%3E%3Cpath d='M8 144 c-4 -3 -2 -16 3 -27 19 -34 91 -107 107 -107 9 0 -2 18 -29%0A48 -24 26 -51 57 -59 70 -8 13 -18 20 -22 16z'/%3E%3Cpath d='M609 128 c-6 -12 -32 -43 -57 -70 -28 -30 -39 -48 -30 -48 16 0 88%0A73 107 108 7 13 7 23 2 27 -6 3 -15 -4 -22 -17z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat center;
}

.action-container {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
}

.action-container .row {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 15px;
}

@media screen and (max-width: 414px) {
  .action-container {
    flex-direction: column-reverse;
  }

  .action-container .row {
    flex-direction: column;
  }

  .actions .row {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
  }

  .actions .row button {
    flex: 50%;
  }

  p {
    display: none;
  }
}

.actions {
  margin: 0 0 20px;
}

label {
  font-weight: bold;
}

input {
  font-family: New Hero, sans-serif;
  padding: 6px;
  outline: 1px solid #59646d;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0 0;
}

select {
  padding: 6px;
  outline: 1px solid #59646d;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  width: 150px;
  margin: 5px 0 0;
}

@media screen and (max-width: 414px) {
  label {
    margin: 0 0 10px;
  }

  input,
  select {
    margin: 0 0 0 15px;
  }
}

button {
  font-family: New Hero, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 0;
  min-width: 120px;
  outline: none;
  border: 1px solid #333333;
  cursor: pointer;
  margin: 0 0 20px;
}

button.primary {
  background-color: #c3e6e2;
  box-shadow: 4px 4px #469a97;
  width: 100%;
}

button.secondary {
  background-color: lightpink;
  box-shadow: 4px 4px hotpink;
  margin: 0 2px 0 0;
}

button.primary:hover {
  transform: translateY(4px) translate(4px);
  box-shadow: 2px 2px #469a97;
}

button.secondary:hover {
  transform: translateY(4px) translate(4px);
  box-shadow: 2px 2px hotpink;
}

.output {
  /* position: fixed;
  bottom: 10px;
  right: 10px; */
  background: #c3e6e2;
  padding: 10px;
  color: black;
}
